<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367910377881-h2gsnpcchjsk47lfb010qf5lkjl36us3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367910377881-h2gsnpcchjsk47lfb010qf5lkjl36us3</string>
	<key>API_KEY</key>
	<string>AIzaSyAfV_QLJDA6qQzwhLwQJclP1Omgs20VLiY</string>
	<key>GCM_SENDER_ID</key>
	<string>367910377881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportpassword.bm</string>
	<key>PROJECT_ID</key>
	<string>badminton-ec298</string>
	<key>STORAGE_BUCKET</key>
	<string>badminton-ec298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367910377881:ios:e3312aff460ac2c5171b08</string>
</dict>
</plist>